<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gg.loginServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.gg.loginServlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.gg.loginServlet.RegistServlet</servlet-class>
  </servlet>
	<servlet>
		<servlet-name>OutServlet</servlet-name>
		<servlet-class>com.gg.loginServlet.OutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageBoardServlet</servlet-name>
		<servlet-class>com.gg.MessageBoardServlet.MessageServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>CheckLogServlet</servlet-name>
        <servlet-class>com.gg.loginServlet.CheckLogServlet</servlet-class>
    </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>OutServlet</servlet-name>
		<url-pattern>/OutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageBoardServlet</servlet-name>
		<url-pattern>/MessageBoardServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogServlet</servlet-name>
        <url-pattern>/CheckLogServlet</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
